@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bg-color: #1E2341;
    --happy-color: #ed754d;
    --sad-color: #50b9b4;
    --angry-color: #d8e56b;
    --insecure-color: #ea5e6b;
    --disgusted-color: #afb3f7;
    --white: #fff;
    --bs-body-font-family: 'Montserrat', sans-serif;


    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size);
    background-color: var(--bg);
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

.text-happy {
    color: var(--happy-color);
}

#sub-nav {
    position: absolute;
    top: -100px;
}

#subnav-togle {
    display: flex;
    align-items: center;
    position: absolute;
    color: var(--bg-color);
    font-size: 48px;
    right: 2rem;
    cursor: pointer;
    border-bottom: 3px solid var(--bg-color);
    transition: all 0.2s;
    margin-top: 1rem;
}

#subnav-togle.emotion {
    color: var(--white);
    border-color: var(--white);
}

#subnav-togle div {
    width: 6rem;
}

#subnav-togle div img {
    width: 100%;
}

#subnav-togle:hover {
    border-color: var(--angry-color);
    color: var(--angry-color);
}

#subnav-togle.happy:hover {
    border-color: var(--happy-color);
    color: var(--happy-color);
}

#subnav-togle.sad:hover {
    border-color: var(--sad-color);
    color: var(--sad-color);
}

#subnav-togle.worry:hover {
    border-color: var(--insecure-color);
    color: var(--insecure-color);
}

.navigation {
    position: fixed;
    right: -100rem;
    background-color: var(--white);
    width: 30rem;
    height: 100vh;
    transition: all 1s;
}

#sub-nav:checked~.navigation {
    right: 0 !important;
}

.sub-nav-toggle {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 48px;
    text-align: center;
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navigation ul li {
    font-size: 28px;
    width: 100%;
    text-align: end;
    border-bottom: 2px solid var(--bg-color);
    cursor: pointer;
}

.navigation ul li label {
    display: block;
    padding: 4em 2rem 2rem 2rem;
}

.navigation a {
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 2rem;
}

.navigation ul li:hover {
    background-color: var(--bg-color);
    color: var(--angry-color);
}

.navigation ul li:hover a {
    color: var(--angry-color);
}

.container.worry {
    padding-top: 10rem;
}

.home {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    color: var(--angry-color);
}

.welcome {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 12rem;
}

.welcome h3 {
    font-weight: lighter;
    font-size: 38px;
}

.welcome h1 {
    font-size: 52px;
}

.stripes {
    display: flex;
    transform: skewx(20deg) translateX(8rem);
    height: 100vh;
    width: 80vw;
    justify-content: flex-end;
}

.stripes a {
    text-decoration: none;
}

.stripe-happy {
    background-color: var(--happy-color);
    color: var(--happy-color);
    border-left: 3px solid var(--bg-color);
}

.stripe-sad {
    background-color: var(--sad-color);
    color: var(--sad-color);
}

.stripe-angry {
    background-color: var(--angry-color);
    color: var(--angry-color);
}

.stripe-insecure {
    background-color: var(--insecure-color);
    color: var(--insecure-color);
}

.stripe-disgusted {
    background-color: var(--disgusted-color);
    color: var(--disgusted-color);
    border-right: 3px solid var(--bg-color);
}

.stripe {
    padding-bottom: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 15vw;
}

.emoji {
    transform: skewx(-20deg);
    text-align: center;
}

.emoji img {
    transform: translateX(-1vw);
    width: 10rems;
}

.emoji .descript {
    color: inherit;
    font-size: 28px;
    text-align: center;
}

.stripe:hover {
    background-color: var(--bg-color);
    transition: all 0.2s;
    border-left-color: var(--angry-color);
    border-right-color: var(--angry-color);
}

.stripe:hover .emoji {
    color: var(--angry-color);
}

.stripe:hover .emoji .descript {
    color: var(--angry-color);
}


.quote {
    font-size: 62px;
    font-weight: bold;
    text-decoration: underline;
}

.h-full {
    height: 100vh;
}

.custom-input {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--bg-color);
    transition: all 0.5s;
}