body, html {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 42px;
}

.wrapper {
    margin: 0 auto;
    width: 80vw;
}

.item {
    display: inline-block;
    height: 25vh;
    width: 19%;
    border-radius: 10px;
}

