nav a {
    color: #482ff7;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

nav ul {
    list-style: none;
}

.heading {
    color: #2d6cdf;
}

.table {
    background-color: #f3f169;
    border-collapse: collapse;
}

.table th {
    color: #ffffff;
    background-color: #09a137;
    border-color: #ffffff;
}